<nav id="navBar">
    <link rel="stylesheet" href="/css/app.css">    
    <a href="/">Home</a>
    <a href="/history">History</a>
    <a href="/staff">Staff</a>
    <a href="/contactus">Contact Us</a>
    <a href="/links">Links</a>
  </nav>