<% teamMembers.forEach( (employee) => { %>
    <ul class="employee-list">
        <li class="employee-info"><a href="/staff/<%= employee.id %>"><%= employee.name %></a> (<%= employee.age %>)</li>
        <li class="employee-info">With our team for <%= employee.timeWithCompany %></li>
    </ul>
<% }); %>