<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mocha Magic</title>
</head>
<body>
    <%- include('./partials/nav') %>
        <h1>Contact Us</h1>
        <div id="contact-card">
                <h3>Your email: </h3>
                <input type="email" id="email">
                <h3>Message: </h3>
                <input type="text" id="message">
                <button id="submit-button">Submit</button>
        </div>
    <%- include('./partials/footer.ejs', {data}); %>
</body>
</html>