<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mocha Magic</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <main>
        <h1>Our History</h1>
        <div class="story-container">
            <p class="story-text">Welcome to Mocha Magic, where every cup tells a tale of passion, dedication, and a love for all things coffee. Founded in 2006, Mocha Magic began as a humble dream shared by coffee enthusiasts Rebecca Miller and David Wilson. With a vision to create a cozy haven where people could gather, connect, and savor the finest brews, they embarked on a journey fueled by determination and a commitment to excellence.</p>
            <p class="story-text">From our modest beginnings on a bustling street corner, Mocha Magic has grown into a beloved community staple, renowned for our artisanal coffee blends, delectable pastries, and warm, inviting atmosphere. Over the years, we've remained true to our roots, cherishing the values of quality, integrity, and genuine hospitality.</p>
            <p class="story-text">At Mocha Magic, we believe that every cup is an opportunity to make someone's day a little brighter. Whether you're seeking a moment of tranquility amidst the daily hustle or a vibrant hub for conversation and camaraderie, our doors are always open, and our baristas ready to craft your perfect brew with care and precision.</p>
            <p class="story-text">As we continue to evolve and expand, our commitment to serving exceptional coffee and fostering meaningful connections remains unwavering. Join us on this journey as we celebrate the magic of coffee, one cup at a time.</p>
            <p class="story-text" id="final-lines">Thank you for being a part of our story.<br>Sincerely,<br>The Mocha Magic Team</p>
        </div>
    </main>
    <%- include('./partials/footer.ejs', {data}); %>
</body>
</html>