<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">    
    <title>Mocha Magic</title>
</head>
<body>
    <!-- placeholder -->
    <!-- <img src="https://images.pexels.com/photos/2564081/pexels-photo-2564081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Coffee shop window"> -->
    <!-- <img src="https://images.pexels.com/photos/702251/pexels-photo-702251.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Coffee shop front counter"> -->
    <!-- <img src="https://images.pexels.com/photos/3796810/pexels-photo-3796810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mocha Magic founder"> -->
    <!-- <img src="https://images.pexels.com/photos/933964/pexels-photo-933964.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="group enjoying coffee"> -->
    <!-- placeholder -->
    <%- include('./partials/nav') %>
    <main>
        <h1>Mocha Magic</h1>
    </main>
    <%- include('./partials/footer.ejs', {data}); %>
</body>
</html>