<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">    
    <title>Mocha Magic</title>
</head>
<body>
<%- include('./partials/nav') %>
    <main id="home-main">
        <h1>Mocha Magic</h1>
        <div id="hero">  
            <img src="https://images.pexels.com/photos/2564081/pexels-photo-2564081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <h3>Experience the Magic of Coffee</h3>
            <p>At Mocha Magic, we believe in the power of coffee to bring people together, inspire creativity, and spark joy. Step into our welcoming café and immerse yourself in a world of rich aromas, flavorful blends, and heartfelt connections.</p>
        </div>
        <div id="offerings">
            <h3>Our Offerings</h3>
            <img src="">
            <p>Indulge in a delightful array of handcrafted beverages, from velvety lattes to robust espressos, expertly prepared by our skilled baristas. Pair your coffee with a tempting selection of freshly baked pastries, sandwiches, and snacks, made with love and care.</p>
        </div>
        <div id="story">
            <h3>Discover Our Story</h3>
            <img src="">
            <p>Learn about our journey from a small coffee shop to a beloved community hub, guided by our founders' passion for exceptional coffee and genuine hospitality. Explore our rich heritage, commitment to quality, and dedication to serving you the perfect cup, every time.</p>
        </div>
    </main>
    <%- include('./partials/footer.ejs', {data}); %>
</body>
</html>